<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="learning" frontName="send">
            <module name="Learning_GreetingMessage" />
        </route>
        <route id="list" frontName="list">
            <module name="Learning_GreetingMessage" />
        </route>
    </router>
</config>